.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 80vh;
    height: 80vh;

}

.box {
    border: 1px solid black;
    text-align: center;
}

.blue-box {
    background-color: #FFD4B2;
    text-align: center;
}

.red-box {
    background-color: #FFF6BD;
    text-align: center;
}

.App {
    text-align: -webkit-center;
}

.blue-piece { 
    height: 20px;
    z-index: 1;
    position: absolute;
    transform: translate(50%, -70%);
    transition: right 0.5s;
}

.yellow-piece { 
    height: 20px;
    z-index: 1;
    position: absolute;
    transform: translate(-150%, -70%);
    transition: right 0.5s;
}

.red-piece { 
    height: 20px;
    z-index: 1;
    position: absolute;
    transform: translate(-150%, -220%);
    transition: right 0.5s;
}

.green-piece { 
    height: 20px;
    z-index: 1;
    position: absolute;
    transform: translate(50%, -220%);
    transition: right 0.5s;
}

.absolute-piece {
    position: absolute;
    height: 20px;
    bottom: 20vh;
    left: 20%;
}

.snakeStart {
    color: red; 
    position: absolute;
    transform: translate(350%, -160%);
}

.snakeEnd {
    color: red; 
    position: absolute;
    transform: translate(350%, -160%);
}

.ladderStart {
    color: blue; 
    position: absolute;
    transform: translate(350%, -160%);
}

.ladderEnd {
    color: blue; 
    position: absolute;
    transform: translate(350%, -160%);
}